@import url('https://meyerweb.com/eric/tools/css/reset/reset.css');

:root {
	--bg: #ffecd7;

	--orange: 				#f59e0b;
	--orange-light:		#fbbf24;

	--t: 0.2s ease-in-out;
}

/* base */

body {
	padding-inline: 1rem;
	background-color: var(--bg);
	font-family: Futura;
}

small {
	font-size: smaller;
}

svg {
	width: 1em;
	height: 1em;
}

/* utils */

.action {
	display: inline-grid;
	place-content: center;
	padding: 1em 2em;
	border-radius: 5px;
	background-color: var(--orange);
	color: #fff;
	text-align: center;
	text-decoration: none;
	transition: background-color var(--t);
}
.action:hover {
	background-color: var(--orange-light);
}

.button {
	display: inline-grid;
	place-content: center;
	padding: 1em 2em;
	border-radius: 5px;
	border: 1px solid currentColor;
	background-color: #fff;
	color: var(--orange);
	text-align: center;
	text-decoration: none;
}

.with-icon {
	display: inline-flex;
	gap: 0.5ch;
	align-items: center;
}

.no-scrollbar { scrollbar-width: none; }
.no-scrollbar::-webkit-scrollbar { display: none; }
