@import url('https://meyerweb.com/eric/tools/css/reset/reset.css');

:root {
	--bg: #fff8f0;

	--orange: orange;
}

/* base */

body {
	padding-inline: 1rem;
	background-color: var(--bg);
	font-family: Futura;
}

/* utils */

.action {
	padding: 1em 2em;
	background-color: var(--orange);
	color: #fff;
	text-align: center;
	text-decoration: none;
}
